*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background: black;
  color: white;
  padding: 1em 2em;
  border-radius: 2px;
  width: 100%;
  position: fixed;
  top: 0;
}

button {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  padding: 2px 16px;
  background: white;
  color: black;
  border: 1px solid white;
  border-radius: 2px;
  transition: 0.2s ease;
}

button:hover {
  background: #cecece;
}

input[type="range"] {
  flex: 1 1 auto;
}
