/* CSS */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

input {
  accent-color: #fe9509;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  gap: 1em;
  padding: 0.5em 1em;
  border-radius: 2px;
  width: 100%;
  position: fixed;
  top: 0;
}

.wrapper-filters {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1em;
  gap: 0.5em;
  border-radius: 2px;
  width: max-content;
  position: fixed;
  top: 50% !important;
  left: 0;
  transform: translateY(-50%);
}

button {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  padding: 0px 8px;
  background: white;
  color: black;
  border: 1px solid white;
  border-radius: 2px;
  transition: 0.2s ease;
}

button:hover {
  background: #cecece;
}

input[type="range"] {
  flex: 1 1 auto;
}
